<div class="auth auth--register">
  <div class="auth__card">
    <h2 class="auth__title">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="auth__field">
        <%= f.label :email, class: "auth__label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address", class: "auth__input" %>
      </div>

      <div class="auth__field">
        <%= f.label :password, class: "auth__label" %>
        <% if @minimum_password_length %>
          <span class="auth__hint">(<%= @minimum_password_length %> characters minimum)</span>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "auth__input" %>
      </div>

      <div class="auth__field">
        <%= f.label :password_confirmation, class: "auth__label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password", class: "auth__input" %>
      </div>

      <div class="auth__actions">
        <%= f.submit "Sign up", class: "auth__submit" %>
      </div>
    <% end %>

    <div class="auth__links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>