<div class="auth auth--login">
  <div class="auth__card">
    <h2 class="auth__title">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="auth__field">
        <%= f.label :email, class: "auth__label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address", class: "auth__input" %>
      </div>

      <div class="auth__field">
        <%= f.label :password, class: "auth__label" %>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "auth__input" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="auth__field auth__field--checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="auth__actions">
        <%= f.submit "Log in", class: "auth__submit" %>
      </div>
    <% end %>

    <div class="auth__links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>