<%= form_with model: @habit, local: true do |f| %>
  <div>
    <%= f.label :title, "Habit title" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description, "Description" %><br>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :category, "カテゴリ" %><br>
    <%= f.select :category, Habit.categories.keys.map { |k|
      [ { "morning" => "朝習慣", "gap" => "隙間習慣",
          "night" => "夜習慣", "other" => "その他" }[k], k ]
    } %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>